body {
    background-color: #1e1e1e;
    font-family: "Lora", system-ui;
    font-optical-sizing: auto;
    font-style: normal;
    color: #f6f6f6;
}

main {
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
    color: #f6f6f6;
}

.latest-poetry {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.latest-poetry,
.poetry-list {
    margin-bottom: 40px;
}

h3 {
    color: #f6f6f6;
    margin: 0;
}

h2 {
    color: #f6f6f6;
}

.poetry-item {
    text-align: center;
    background-color: #3d3d3d;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #f6f6f6;
    margin: 10px;
    max-height: 10ch;
    overflow: hidden;
    padding-bottom: 23px;
}

.poetry-item:hover {
    background-color: #5d5d5d;
}

.poetry-item-link {
    text-decoration: none;
}

.poetry-content {
    max-width: 50%;
    max-height: 100px;
    overflow-y: auto;
    border: 1px solid #f6f6f6;
    padding: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

@media screen and (max-width: 576px) {
    .poetry-content {
        max-width: 100%;
    }
}