body {
    background-color: #1e1e1e;
    font-family: "Lora", system-ui;
    font-optical-sizing: auto;
    font-style: normal;
    color: #f6f6f6;
}

.poetry-item {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 0;
}

.poetry-item h3 {
    margin: 0;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.popup-content {
    max-width: 500px;
    max-height: 80vh;
    overflow-y: auto;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-weight: bold;
}