---
import Layout from "../Layouts/Layout.astro";
import poesias from "../data/poesias.json";
const ultimaPoesia = poesias[poesias.length - 1];
---

<title>LiraLatente</title>
<Layout title="Última Poesía">
    <h2>{ultimaPoesia.titulo.replaceAll("-", " ")}</h2>
    <p style={{ whiteSpace: "pre-wrap" }}>{ultimaPoesia.texto}</p>
</Layout>
<style>
    h2 {
        font-size: 1.5em;
        margin-bottom: 10px;
    }

    p {
        font-size: 1.2em;
        line-height: 1.6;
        white-space: pre-wrap;
    }
</style>
