---
const { poesia } = Astro.props;
---

<div class="poetry-item">
    <h3>{poesia.titulo.replaceAll("-", " ")}</h3>
    <audio controls>
        <source src={poesia.audio} type="audio/mp3" />
        Tu navegador no soporta el elemento de audio.
    </audio>
</div>

<style>
    .poetry-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background-color: #3d3d3d;
        border-radius: 8px;
        padding: 20px;
        color: #f6f6f6;
        margin: 10px;
        overflow: hidden;
    }
    audio::-webkit-media-controls-panel:hover {
        background-color: #5d5d5d;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }
    h3 {
        color: #f6f6f6;
        margin: 0 0 10px;
        font-size: 1.5em;
    }
    audio {
        margin-top: 15px;
        width: 100%;
    }
    audio::-webkit-media-controls-panel {
        background-color: #3d3d3d;
    }
</style>
